
<section class="col-sm-8 offset-sm-2 p-5 text-center bg-dark">
    <h2 style="color:white;">施設カテゴリによる検索</h2>

    <div class="mt-5">
    <%= search_form_for @admins_search, local: true, id: "search_form", url: search_index_admins_path do |f| %>
    <div class="form-group d-flex flex-column">
    <%= f.label :admins_category, "＊カテゴリを選択してください", class: "ef"%>
      <div class="inline"><i class="fas fa-search pr-4 ef"></i><%=f.select :admins_category_eq, [ ["ふらっと観光","ふらっと観光"], ["ガッツリ観光","ガッツリ観光"], ["体験・伝統産業", "体験・伝統産業"], ["地域グルメ", "地域グルメ"], ["お酒","お酒"], ["アウトドア・キャンプ","アウトドア・キャンプ"], ["その他","その他"]], autofocus: true, autocomplete: "admins-category", prompt: "施設のカテゴリを選択してください", class: "ef" %>
      </div>
    </div>
    <%= f.submit "検索する" %>
    <% end %>
    </div>
</section>

