<div class="mx-1">
<h1 class="search-top col-sm-3 rounded text-center p-3"><i class="fas fa-search-plus pr-2"></i>検索結果 <%=@admins.count%> 件</h1>
    <% if @admins.present?%>
    <%=render "search", admins: @admins%>
    <%else%>
    <p class="card-text">該当施設はありませんでした。</p>
    <%end%>
</div>

<section class="back-to">
    <%=link_to "前のページに戻る", :back, class: "btn btn-success" %>
</section>

</div>
