
<div class=™row™>
     <div class="col-md-10 offset-md-1">
     <table class="form-table bg-light">
        <tbody>
          <tr>
            <th>ユーザー名</th>
              <td><%=@user.username%></td>
          </tr>
          <tr>
            <th>年齢</th>
              <td> <%=@user.age%>  歳</td>
          </tr>
          <tr>
            <th>登録Emailアドレス</th>
              <td><%=@user.email%></td>
          </tr>
        </tbody>
     </table>
    </div>
</div>

  
  <section class="mt-5 ml-5"><%=link_to "<< 前のページに戻る", :back %> </section>
