
<div class="row mx-1">
    
    <div class="col-sm-8 offset-sm-2">
       <h3 class="text-muted text-center mb-5 pb-1" style="font-weight: bold; border-bottom: 3px ridge #008080;" >＊事業者・施設様によるDigmaご利用について</h3>
    </div>
    
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/1admin.png" alt="1admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">はじめにトップページより、新規Digma登録をお願い申し上げます。<br>ご登録いただくことにより施設・店舗の紹介ページ作成、及び商品の造成が可能になります。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/2admin.png" alt="2admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">ご登録後は、施設様用のユーザーページへと移動します。<br>施設様情報を登録・編集しましょう。ここで登録・編集した内容は実際にお客様がご覧になる内容となります。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/3admin.png" alt="3admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">必ず全項目入力してください。また、施設の雰囲気がわかる写真を１枚登録してください。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/4admin.png" alt="4admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">それではさっそく商品パッケージを作成してみましょう！<br>指定の項目を埋めるだけで商品ページが作成されます。こちらも全てお客様がご覧になる内容となりますので必ず全項目入力してください。<br>写真はスライド形式で３枚が上部に、紹介文と併せて掲載されるものが２枚、合計５枚必要になります。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/5admin.png" alt="5admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">作成した商品パッケージは一覧で確認することができます。<br>さっそく詳細を確認してみましょう。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/6admin.png" alt="6admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">商品パッケージの詳細ページには、先ほど作成ページで入力した内容とアップロードした写真が掲載されています。<br>こちらのページはお客様がご覧になるページと殆ど同一です。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/7admin.png" alt="7admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">作成した商品数や取得「行ってみたい！」の合計、予約数、お客様からのコメントや評価通知に関してはユーザーページ下部でご確認いただきけます。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/8admin.png" alt="8admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">「お知らせを確認する」をクリックすると、通知内容を確認することができます。</p>
        </div>
      </div>
    </div>
  
    <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/9admin.png" alt="9admin" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">最後に、予約の内容を一覧で確認してみましょう。<br>お客様決済の有無は予約内容が記載されているカードの右上部をご確認ください。もしお客様のお支払が完了している場合、ボックスに✔マークが付いているはずです。︎</p>
        </div>
      </div>
    </div>
  
  
</div>