
<div class="jumbotron">
<h3 style>▼キャンセル料金▼
日数に応じて下記の通りキャンセル料金が発生いたしますのでご注意ください。

3日前～前日のキャンセル・・・50％
当日または無連絡のキャンセル・・・100％

※ネットでのご予約のキャンセルは3日前の17時までとなっております。以降のキャンセルは必ずキャンプ場まで直接ご連絡ください。
※気象状況等により、安全にご利用いただけないと当方が判断した場合キャンプ場の営業を中止させて頂くことがあります。

※以下の場合、キャンセル料は発生いたしません。
・場内を閉鎖する場合
・気象庁により当キャンプ場が台風の暴風警戒区域に入ると予報が発表された場合
・ご宿泊当日、気象庁から該当地域へ気象警報が発令された場合
・ご利用日前に気象警報が発令され、ご利用当日まで状況が改善されないと判断できる場合</h3>