
<div class="row mx-1">
  <div class="col-sm-8 offset-sm-2">
     <h3 class="text-muted text-center mb-5 pb-1" style="font-weight: bold; border-bottom: 2px ridge #ADFF2F;" >＊ユーザー様によるDigmaご利用について</h3>
  </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/1Digma.png" alt="1digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">はじめにトップページより、新規Digma登録をお願い申し上げます。<br>ご登録なしでも施設検索昨日はご利用いただけますが、ご予約や決済などのサービスはご利用いただけません。</p>
        </div>
      </div>
    </div>

   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/2Digma.png" alt="2digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">お好きなユーザー名（ローマ字、数字、その他記号に限る）を設定し、ご利用のメールアドレスをご入力ください。<br>パスワードの設定が終了後、「上記の内容で登録」をクリックしてください。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/3Digma.png" alt="3digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">ユーザー新規登録が完了すると、お客様ユーザーページへと移動致します。<br>それではDigma登録施設を一覧で見てみましょう。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/4Digma.png" alt="4digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">施設一覧ページでは、現在Digmaに登録している施設を一覧で確認することができます。<br>気になった施設については詳細を見てみましょう。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/5Digma.png" alt="5digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">詳細ページでは施設の情報と、オープン・クローズの時間を確認することができます。<br>下に位置する、「この施設の商品を見る」をクリックすると、予約可能な商品パッケージが一覧で表示されます。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/6Digma.png" alt="6digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">商品一覧ページでは、施設が保有している商品パッケージをご覧いただけます。<br>施設によって複数の商品パッケージを保有しております。気になった商品を選択し、詳細を確認していきます。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/7Digma.png" alt="7digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">商品パッケージの詳細プランでは、その商品の写真や詳細を確認することができます。<br>それぞれの商品でご提供内容が変化しております。ページ下部には、その商品に関するコメントや平均点が記載されておりますので、ご予約に際してご参照くださいませ。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/8Digma.png" alt="8digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">予約フォームで入力する項目は最低限のものだけです。<br>万が一施設から連絡が必要になった場合、こちらに記載されているE-mailアドレスまたは電話番号にご連絡致します。<br>予めご了承くださいませ。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/9Digma.png" alt="9digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">こちらの確認画面より予約内容の最終確認を行ってください。<br>よろしければ、「予約する」ボタンを押してください。</p>
        </div>
      </div>
</div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/10Digma.png" alt="10digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">商品の予約が完了すると、お客様ユーザーページへと移動致します。<br>左写真のようなメッセージが表示されましたら予約完了です。<br>次に、完了した予約を確認しお支払を完了しましょう。</p>
        </div>
      </div>
  </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/11Digma.png" alt="11digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">こちらの予約一覧では、「予約済み（未来の予約）」・「過去の予約」を確認することができます。<br>まだ未決済のご予約に関しては、カードアイコンとメッセージが記載されています（お支払済のご予約にはチェックマークが表示されます）。また、「行ってみたい！」指定施設もご確認いただけます。詳細を確認するをクリックしてみてください。</p>
        </div>
      </div>
    </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/12Digma.png" alt="12digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">こちらのページでは、予約確定前にご確認いただいた内容を再度ご覧いただけます。<br>お支払がお済みでない場合は、「カードで支払う」をクリックし、クレジットカード決済を行ってください。（Digmaはクレジットカード決済のみ可能です。現金払いをご希望の場合は、直接施設にお問い合わせください。）</p>
        </div>
      </div>
  </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/13Digma.png" alt="13digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">クレジットカードの決済が無事完了すると、左写真のように、メッセージが表示されます。</p>
        </div>
      </div>
  </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden col-sm-7">
        <img border="1" src="/assets/14Digma.png" alt="14digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-2 pt-md-3 px-md-2 pb-3 mb-1 text-center text-dark overflow-hidden col-sm-5">
        <div class="my-3 py-3">
          <p class="lead">ユーザートップページに戻ると、これまでにDigmaでご予約した回数と次回の出発日時がご確認いただけます。</p>
        </div>
      </div>
  </div>
  
  <hr>

</div>