<h3 class="text-muted" style="font-weight: bold;">＊ユーザー様用　Digma のご利用について</h3>

<div class="how-to-use">
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden">
        <img border="1" src="/assets/1Digma.png" alt="1digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center text-dark overflow-hidden">
        <div class="my-3 py-3">
          <p class="lead">まずはトップページより、新規Digma登録の方お願い申し上げます。ご登録なしでも施設検索に付きましてはご利用いただけますが、ご予約や決済などのサービスはご利用いただけません。</p>
        </div>
      </div>
    </div>
</div>

<div class="how-to-use">
   <div class="d-md-flex flex-md-equal w-100 my-md-1 pl-md-1">
      <div class="bg-dark mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center overflow-hidden">
        <img border="1" src="/assets/2Digma.png" alt="2digma" style="display: inline-block; box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);">
      </div>
      <div class="bg-light mr-md-2 pt-3 px-1 pt-md-3 px-md-1 pb-3 mb-1 text-center text-dark overflow-hidden">
        <div class="my-3 py-3">
          <p class="lead">まずはトップページより、新規Digma登録の方お願い申し上げます。ご登録なしでも施設検索に付きましてはご利用いただけますが、ご予約や決済などのサービスはご利用いただけません。</p>
        </div>
      </div>
    </div>
</div>