
<footer class="mainFooter">
  
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <span style="font-family: cooper black;"><%=link_to "digma", root_path, class: "navbar-brand pr-5" %></span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to "Digmaの使い方", howtouse_path, class: "nav-link" %> </li>

          <li class="nav-item"><%= link_to "会社概要", company_detail_path , class: "nav-link" %> </li>

          <li class="nav-item"><%= link_to "キャンセルポリシー", cancel_policy_path , class: "nav-link" %> </li>
        
        </ul>
      </div>
    </nav>
    
</footer>

